.container {
	margin: 20px;
	padding: 20px;
}

.form-control .input-group-addon {
	margin-right: 5px;
	margin-top: 5px;
}

.rmargin {
	padding: 5px;
}

header {
	padding-top: 10px;
	height: 60px;
	background: #EEEEEE;
	border-bottom: 1px solid #0000e8;
}

header h1 {
	text-align: center;
	margin-top:0px;
	color: #0000e8;
}

footer {
	display: table;
	height: 40px;
	color: #111111;
}

footer h4 {
	font-size: 0.9em;
	margin: 0 auto;
	text-align: center;
}
.search-form {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #358000;
}

.result_one {
	min-height:100px;
	padding: 40px;
}
.resultrow {
	margin-top: 10px;
	margin-bottom: 5px;
	min-height: 100px;
	border-radius: 20px;
}

.odd {
  margin-top:20px;
  border: 1px solid grey;
}

.even {
  margin-top:20px;
  border: 1px solid grey;
}

.spacer {
    margin: 10px;
    padding: 4px;
}

.left {
    float : left;
}

.right {
  float: right;
}

.tn-inline {
  width: 160px;
  height: 80px;
  margin: 10px;
	border-radius: 10px;
  border: 1px solid black;
}

h1.tourtitle {
  font-size: 1.8em;
  color: #337ab7;
}

